/* page */
:root {
  --primary-bg-color:#ffffff;
  --secondary-bg-color:#2f303a;
  --color-main-text:#212121;
  --color-secondary-text:#757575;
  --white:#ffffff;
  --accent:#2196f3;
  --color-bg-team:#f5f4fa;
  --color-footers-link: rgba(255, 255, 255, 0.6);
  --primary-color:#4d5ae5;
}

.logo{
  font-family:Raleway,sans-serif;
  font-weight:800;
  font-size: 18px;
  line-height:1.17;
  letter-spacing:0.03em;
  text-transform:uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.header{
  text-decoration: none;
}

.logo-header-black{
  color: #2e2f42;
}

.header-nav{
  list-style: none;
}

.studio-link{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration:none;

}

.site-nav{
  list-style: none;
}
.studio-link:hover,
.studio-link:focus{
color: #404bbf;
}


.address{
  font-style: normal;
}

.contact-link{
  list-style:none;
  font-size:16px;
  line-height:1.5;
  letter-spacing:0.02em;
  color: #434455;
  text-decoration:none;

}

.contact-link:hover,
.contact-link:focus{
  color: #404bbf;
}

.site-ul{
  list-style: none;
}

.hero{
  background-color: #2e2f42;
}

.title{
  font-size: 56px;
  line-height:1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color:  #ffffff;
}

.button{
  background-color:#4D5AE5;
  font-family:Roboto,sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;



}
.button:hover,
.button:focus{
background-color: #404BBF;
}


.company-title{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.company-text{
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.work-title{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.team{
  background-color:#F4F4FD;
}

.team-title{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;

}

.team-item{
  background-color:#FFFFFF;
}

.team-people{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-job{
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#434455;
}

.footer{
  background-color:#2e2f42;
}

.logo-footer{
  font-family: Raleway,sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:#4d5ae5;
}

