/* page */
:root {
  --primary-bg-color:#ffffff;
  --secondary-bg-color:#2f303a;
  --color-main-text:#212121;
  --color-secondary-text:#757575;
  --white:#ffffff;
  --accent:#2196f3;
  --color-bg-team:#f5f4fa;
  --color-footers-link: rgba(255, 255, 255, 0.6);
  --primary-color:#4d5ae5;
}

.logo{
  font-family:Raleway,sans-serif;
  font-weight:800;
  font-size: 18px;
  line-height:1.17;
  letter-spacing:0.03em;
  text-transform:uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.header{
  text-decoration: none;
}

.logo-header-black{
  color: #2e2f42;
}

.header-nav{
  list-style: none;
}
